#Project > h1{
    text-align: center;
    margin: 70px 0px;
    font-size: 40px;
    font-weight: 500;
}

.Projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}