.projects-items {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 400px;
    border-radius: 5px;
    margin: 0 0 40px 0;
  }
  
  .projects-items:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .projects-items > img {
    width: 550px;
    height: 200px;
  }
  .container {
    padding: 2px 16px;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .links > a {
    text-decoration: none;
    color: #6c88ee;
    margin: 10px 0;
  }
  
  .links > a:hover {
    color: #1242ef;
  }

.projects-items{
  margin: 20px 15px;
}